*,
:after,
:before {
  box-sizing: border-box;
}

body {
  background: #fcebeb;
}

.page {
  max-width: 800px;
  margin: 60px auto;
}

.container {
  width: 100%;
  max-width: 700px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.weather {
  border: 1px solid #fcebeb;
  border-radius: 16px;
  background: white;
  box-shadow: 0 30px 50px rgb(65, 50, 100/ 8%);
  padding: 40px;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  color: #acacac;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

input.form-control {
  color: #f9f7fe;
  background: #fcebeb;
  border: none;
  padding: 0px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 40px;
  line-height: 20px;
}
input.btn.btn-primary {
  width: 100;
  background-color: #eb6e4b;
  border: none;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 30px;
  height: 40px;
}

.col-9 {
  padding: 0px 15px;
}

.col-3 {
  max-width: 25%;
}

.col-6 {
  position: relative;
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 40px;
  font-weight: 700;
  color: #272142;
  line-height: 50px;
}

.location {
  position: absolute;
  color: #3b3c40;
  font-size: 25px;
  left: 583px;
  top: -70px;
}
.location:hover {
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(39, 33, 66 0.4);
}
strong {
  color: #eb6e4b;
}
.measurement {
  color: #eb6e4b;
}

.temperature-container {
  position: relative;
  text-align: right;
  margin-top: 30px;
}
canvas.current-weather-icon {
  margin: 10px 0;
  position: relative;
  top: -25px;
}

.temperature {
  margin-left: 10px;
  margin-top: 100px;
  font-size: 80px;
  font-weight: 700;
  position: relative;
  line-height: 1;
  color: #212121;
}
.unit {
  font-size: 20px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -38px;
  color: #212121;
}
.unit-conversion {
  color: #212121;
  text-decoration: none;
}
.unit-conversion:hover {
  text-decoration: none;
  cursor: pointer;
}

.weather-forecast {
  text-align: center;
  margin: 40px 0;
}
.weather-forecast-preview {
  display: block;
}

.weather-day {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

img.weather-icon-1 {
  text-align: center;
}
.max-temp {
  font-weight: bolder;
  color: #eb6e4b;
  font-size: 18px;
}
.min-temp {
  font-size: 18px;
  opacity: 0.8;
  color: #eb6e4b;
  margin-left: 10px;
}
.col-2 {
  padding-left: 15px;
  padding-right: 15px;
}
hr {
  color: #dad4e9;
}

footer {
  font-size: 13px;
  text-align: center;
}
a {
  text-decoration: none;
  color: #4bc8eb;
}
a:hover {
  text-decoration: underline;
  color: #4bc8eb;
  cursor: pointer;
}
